/* CSS Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: "Open Sans", sans-serif; */
}

:root {
  --heading-font: "Philosopher", sans-serif;
  --para-font: "Mulish", sans-serif;
}



/* ----------------------------------NavBar----------------------------------------- */
.Nav-Wrapper {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 1rem;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1),
    -4px -4px 8px rgba(255, 255, 255, 0.5);
  z-index: 10000000;
}

.nav_logo {
  color: #4D2A7C;
  display: flex;
  align-items: center;
  font-family: var(--heading-font);
}

.logo_image {
  height: 3rem;
  width: 5rem;
  object-fit: contain;
}

.nav_logo h1 {
  font-size: 1.7rem;
  font-family: var(--heading-font);
}

.nav_links_list {
  font-family: var(--para-font);
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_links_list a {
  outline: none;
  border: none;
  color: black;
  text-decoration: none;
}

.nav_links_list a li:hover {
  color: #4D2A7C;
}

.nav_links_list a li {
  margin-left: 2rem;
  list-style: none;
  color: #37423b;
  font-size: 1.1rem;
}

.btn_primary {
  color: white !important;
  padding: 0.5rem 1rem;
  background-color: #4D2A7C;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
}

.hamburger {
  display: none;
}

/* -------------------------Mobile Nav--------------------------------------- */
.MobileNavBar-Wrapper {
  background-color: white;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  transition: all 0.5s ease-in-out;
  display: none;
  z-index: 1000;
}

.MobileNavBar_logo {
  font-family: var(--heading-font);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1), -4px -4px 8px rgba(255, 255, 255, 0.5);
  color: #4D2A7C;
}

.cross-logo {
  font-size: 2rem;
  color: black;
}

.MobileNavBar_links_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.MobileNavBar_links_list a li {
  font-family: var(--para-font);
  margin: 1rem;
  list-style: none;
  color: #37423b;
  font-size: 1.2rem;
}

.MobileNavBar_links_list a {
  outline: none;
  border: none;
  color: black;
  text-decoration: none;
}

.open {
  transform: translateX(0);
}


/* -----------------------------------Candidates--------------------------------------- */
.candidates_wrapper .header,
.testimonials_wrapper .header,
.services_wrapper .header,
.about_wrapper .header {
  color: black;
  text-align: center;
  padding: 1rem;
  box-shadow: #4D2A7C;
  margin: 0 2rem;
  margin-top: 2rem;
}

.candidates_wrapper .header div .career-pragati,
.testimonials_wrapper .header div .career-pragati,
.about_wrapper .header div .career-pragati {
  font-size: 1.5rem;
  font-weight: bold;
  color: #4D2A7C;
  font-family: var(--para-font);
}

.first_alpha {
  font-weight: bold;
  font-size: 2rem;
}

.testimonials_wrapper .header .joy {
  font-weight: bold;
  color: #4D2A7C;
}

.candidates_wrapper {
  display: block;
}

.candidates_wrapper .header h1,
.testimonials_wrapper .header h1,
.services_wrapper .header h1,
.about_wrapper .header h1 {
  color: white;
  margin-bottom: 1rem;
  background: #4D2A7C;
  padding: 1rem;
  border-radius: 1rem;
  font-family: var(--heading-font);
}

.candidates_wrapper .header div,
.testimonials_wrapper .header div,
.services_wrapper .header div,
.about_wrapper .header div {
  font-family: var(--para-font);
  font-size: 1.4rem;
  padding-bottom: 1rem;
}

/* .cards_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 2rem;
  gap: 2rem;
} */

.card_wrapper {
  cursor: pointer;
  position: relative;
  padding: 1rem;
  height: 25rem;
  width: 20rem;
  /* border: 2px solid black; */
  border-radius: 2rem;
  border: 1px solid #e0e0e0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
  -webkit-tap-highlight-color: transparent;
}


.img_container {
  height: 40%;
  width: 100%;
}

.img_container img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.card_wrapper h3 {
  text-align: center;
  color: #4D2A7C;
  font-family: var(--heading-font);
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2;
  /* color: #333333; */

}

.card_wrapper div {
  text-align: left;
  font-size: 1rem;
  margin: 1rem 0;
  margin-bottom: 1rem;
}

.card_content div,
ul li {
  font-family: var(--para-font);
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.2;
  color: black;
}

.card_txt_wrapper {
  height: 6rem;
}

.card_content ul {
  padding: 1rem;
}

.overLay li {
  color: white !important;
}

.overLay {
  opacity: 0;
  transition: all .3s ease;
  overflow-y: hidden;
  position: absolute;
  top: 0;
  text-align: left;
  font-size: 1.2rem;
  background-color: #4D2A7C;
  bottom: 0;
  left: 0;
  list-style: none;
  width: 100%;
  height: 0;
  border-radius: 2rem;
  padding: 2rem 1rem !important;
}


.overLay li {
  margin-bottom: 1rem;
  font-weight: 300;
  font-size: 1rem;
  font-family: var(--para-font);
}

.overLay div {
  margin: 1rem 0;
}

/* .card_wrapper:hover .overLay{
  height: 100%;
  opacity: 1;
} */

.overLay li div {
  font-weight: 700;
  color: white;
  margin-bottom: 1rem !important;
  font-size: 1.1rem;
  font-family: var(--para-font);
}


.list {
  list-style-type: disc;
}

.overLay .cross-logo {
  color: white;
  position: absolute;
  right: 1rem;
  top: 2rem;
}

.btn_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* ---------------------------------Candidates Media Query-------------------------- */
@media (max-width: 600px) {

  .card_wrapper {
    height: 25rem;
  }

  .overLay {
    padding: 2rem 1rem !important;
  }

  /* For Swriper arrow buttons */
  .swiper-button-next:after,
  .swiper-rtl .swiper-button-prev:after {
    margin-left: 1.5rem !important;
  }

  .swiper-button-prev:after,
  .swiper-button-next:after {
    font-size: 1.9rem !important;
  }

  .swiper-button-prev:after,
  .swiper-rtl .swiper-button-prev:after {
    margin-right: 1.5rem !important;
  }

}

/* ------------------------------------Candidates Phone--------------------------------- */

.phone_cards_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 2rem;
  gap: 2rem;
}


.candidates_phone_wrapper {
  display: none;
}

@media (max-width: 600px) {
  .candidates_phone_wrapper {
    display: block !important;
  }




}

/* -----------------------------------Testimonials----------------------------------- */

.testimonials_slider_wrapper {
  width: 100%;
  padding: 2rem 5rem;
}

@media (max-width : 584px) {
  .testimonials_slider_wrapper {
    padding: 0;
  }

}

.slide-content {
  /* Dont give width to this */
  /* width: 100%; */
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
}

.card {
  border-radius: 25px;
  background-color: #FFF;
}

.image-content,
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 1rem;
}

.image-content {

  position: relative;

  /* The .image-content and .card-content classes both have display: flex, flex-direction: column, align-items: center, and padding: 10px 14px properties. These properties define that the flex items inside these containers should be arranged vertically (flex-direction: column), aligned to the center horizontally (align-items: center), and have padding of 10px at the top and bottom and 14px on the left and right.

  By including the row-gap property, you are specifying an additional vertical gap between the rows of flex items in the flex container with the .image-content class. */
  row-gap: 5px;
  width: 100%;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #4D2A7C;
  border-radius: 25px 25px 0 25px;
}

.overlay::before,
.overlay::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: #4D2A7C;
}

.overlay::after {
  border-radius: 0 25px 0 0;
  background-color: #fff;
}

.card-image {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: #fff;
  padding: 3px;
}

.card-image .card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #4D2A7C;
}


.name {
  text-align: center;
  color: #4D2A7C;
  font-family: var(--para-font);
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2;
  padding: 1rem 0;

}

.cust-details {
  font-family: var(--para-font);
  color: #4D2A7C;
  font-weight: 500;
  font-size: 1rem;
  padding-bottom: 1rem;
}

.cust-details span {
  font-weight: 600;
}

.description {
  font-family: var(--para-font);
  font-feature-settings: 14px;
  color: black;
  text-align: left;
  position: relative;
  display: inline-block;
}

.description::before {
  position: absolute;
  font-family: 'Font Awesome 6 Free';
  content: "\f10d";
  font-weight: bold;
  top: -0.5rem;
  left: -1rem;
  color: #4D2A7C;
}

.description::after {
  position: absolute;
  font-family: 'Font Awesome 6 Free';
  content: "\f10e";
  font-weight: bold;
  color: #4D2A7C;
}

/* .button {
  border: none;
  font-size: 16px;
  color: #fff;
  padding: 8px 16px;
  background-color: #4D2A7C;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
} */

.button:hover {
  background-color: #89119ff7;

}

.swiper-pagination-bullet {
  background-color: #4D2A7C !important;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #4D2A7C !important;
}

.swiper-button-prev,
.swiper-button-next {
  color: #4D2A7C !important;
}

.name_Lindekin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 47vw;
  padding-bottom: 1rem;
}

.linkedin {
  cursor: pointer;
  background: #4D2A7C;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  /* text-align: center; */
  position: relative;

}

.linkedin svg {
  font-size: 1.5rem;
  position: absolute;
  top: 7px;
  right: 0;
  left: 9px;
  bottom: 0;
  color: white;
}

.left_quote {
  position: absolute;
  top: -0.5rem;
  left: -1.5rem;

  font-size: 1rem;
  color: #4D2A7C;
}

.right_quote {
  position: absolute;
  font-size: 1rem;
  right: 19.1rem;
  color: #4D2A7C;
}

/* -----------------------------------------Footer----------------------------------------------- */
.footer_wrapper {
  height: 5rem;
  width: 100%;
  /* background-color: #4D2A7C; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 31rem;
}

.logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 7rem;
}

.contact_us {
  color: #4D2A7C;
  font-weight: bold;
  font-size: 2rem;
  font-family: var(--heading-font);
}


@media (max-width : 1260px) {
  .footer_wrapper {
    padding: 5rem 13rem;
  }

}

@media (max-width : 910px) {
  .footer_wrapper {
    padding: 5rem 10rem;
  }
}

/* -----------------------------Home---------------------------------------- */
.home_wrapper {
  margin-bottom: 2rem;
}

.img_wrapper {
  height: 85vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./images/rocket3.jpg);
  background-size: cover;
  background-position: top center;
  position: relative;
}

.img_wrapper h1 {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Better centering using translate */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-family: var(--heading-font);
  text-transform: uppercase;
}

.propelling {
  left: 35% !important;
}

.progress {
  left: 64% !important;
}

.our_services,
.home_services {
  margin: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 5rem;
  margin-bottom: 5rem;
}

.who {
  height: 30rem;
  width: 100%;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border-radius: 1rem;
  -webkit-tap-highlight-color: transparent;
}

.who img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 1rem;
  transition: all .5s ease-in-out;
}

.what {
  height: 30rem;
  width: 100%;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border-radius: 1rem;
  -webkit-tap-highlight-color: transparent;
}

.what img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 1rem;
  transition: all .5s ease-in-out;
}

.upper_layer {
  position: absolute;
  bottom: 0;
  height: 50%;
  width: 100%;
  border-radius: 1rem;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
}

.upper_layer h1 {
  color: white;
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  font-family: var(--para-font);
  transition: all .3s ease-in-out;
}

.who:hover img,
.what:hover img {
  transform: scale(1.04);
}

/* .who:hover .upper_layer, .what:hover .upper_layer{
  z-index: 20;
} */

/* .who:hover::after, .what:hover::after{
  opacity: 1;
} */


/* ----------------------------NavBar Media Query------------------------------ */

@media (max-width:1025px) {
  /* .Nav-Wrapper {
    box-shadow: none;
  } */


  .Nav-Wrapper {
    margin-top: 1rem;
    margin-bottom: 0;
  }

  .cross-logo {
    font-size: 2rem;
    color: black;
  }

  .nav_links_list {
    display: none;
  }

  .hamburger {
    display: block;
    font-size: 2rem;
  }

  .MobileNavBar-Wrapper {
    display: block;
  }


  /* .nav_logo h1 {
    display: none;
  } */
}

@media (max-width: 708px) {

  .img_wrapper {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../src/images/rocket3Mobile.jpg");
    background-position: 44% 50%;
    height: 85vh;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .Nav-Wrapper {
    margin-top: 1rem;
    margin-bottom: 0;
  }

  .nav_links_list {
    display: none;
  }

  .hamburger {
    display: block;
    font-size: 1.7rem;
  }

  .MobileNavBar-Wrapper {
    display: block;
  }

  .nav_logo h1 {
    font-size: 1.3rem;
    margin-left: 0;
  }

  .candidates_wrapper .header,
  .testimonials_wrapper .header {
    background: none;
    color: black;
    padding: 0;
    margin: 0;
    padding: 1rem;
    border: none;
  }

  .candidates_wrapper .header h1,
  .testimonials_wrapper .header h1 {
    color: white;
    background-color: #4D2A7C;
    height: 4rem;
    padding: 1rem 0;
  }

  .candidates_wrapper .header div,
  .testimonials_wrapper .header div,
  .services_wrapper .header div,
  .about_wrapper .header div {
    padding: 1rem;
    font-size: medium;
  }

  .candidates_wrapper .header div .career-pragati,
  .testimonials_wrapper .header div .career-pragati {
    /* font-size: 1.5rem; */
    font-size: medium;
    font-weight: bold;
  }

  .footer_wrapper {
    padding: 5rem 1rem;
  }

  .propelling {
    font-size: 1.3rem;
    left: 20% !important;
    top: 40% !important;
  }

  .progress {
    font-size: 1.3rem;
    left: 80% !important;
    top: 40% !important;
  }

  .our_services {
    flex-direction: column;
    margin: 5rem 2rem;
    margin-bottom: 0;
    margin-top: 1rem;
  }

  .home_services {
    margin-top: 5rem;
  }

  .upper_layer h1 {
    font-size: 1.3rem
  }

}